{% macro formfields(form) -%}
  {{ form.csrf_token }}
  {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="field">
      {% if field.type != "BooleanField" %}
        {{ field.label }}
      {% endif %}
      <div class="control">
        {% if field.type == "BooleanField" %}
          <label class="checkbox">
            {{ field() }}
            {{ field.label.text }}
          </label>
        {% elif field.type == "SelectField" %}
          <div class="select">
            {{ field() }}
          </div>
        {% else %}
          {{ field(class_="input") }}
        {% endif %}
      </div>
    </div>
  {% endfor %}
{%- endmacro %}
