{% extends "base.jinja2" %}
{% from 'macros/bulma_form.jinja2' import formfields %}
{% block content %}
  <h1 class="title">
    Scheduled Job Starter
  </h1>
  <form method="post">
    {{ formfields(form) }}
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
{% endblock %}
